@import '~vuetify/dist/vuetify.min.css';

:root {
  --primary-color-dark: #27632a;
  --primary-color: #4caf50;
  --primary-color-ligth: #5fa463;
  --secundary-color-dark: #7cb23e;
  --secundary-color: #b2ff59;
  --secundary-color-ligth: #c1ff7a;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.main__wrapper {
  height: 100%;
  background-color: #FFFFFF;

  .v-content__wrap {
    display: flex;
  }

  .content__wrapper {
    padding: 10px;
    width: 100%;
  }
}
