* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
 --primary-color: #519657;
 --secundary-color: #33691e;
 --secundary-color-dark: #003d00;
}

/*icons*/
main {
  display: flex;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color);
  -webkit-box-shadow: 0 1px 0 0 var(--primary-color);
  box-shadow: 0 1px 0 0 var(--primary-color);
}

.btn, .btn-large, .btn-small {
  background-color: var(--secundary-color);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: var(--secundary-color-dark);
}

.nav-itens {
  padding-right: 10px;
}

.nav-wrapper, .nav-content {
  background-color: var(--primary-color);
}

.nav-wrapper > .brand-logo {
  margin-left: 20px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.sidenav .sidenav-close {
  margin-right: 0 !important;
}

.sidenav .wrapper-close-nav>a {
  padding-right: 15px;
}

.custom-icon {

}

.sidenav .wrapper-close-nav>a:hover {
  background-color: #fff;
}

h1 {
  font-size: 30px;
  margin-top: 0;
}
